html{
   background-color: rgb(206, 203, 199); 
}
nav{
    background-color: bisque;
    text-align: center;}

.labels{
display: grid;
grid-template-columns:repeat(2, 1fr);
gap: 10px;
}
.photoone{
    grid-column: 2;
    grid-row: 1 / 6;
    padding: 10px 100px;
}
.titles{    
    grid-column: 1;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    text-align: center
   }
.missionstate{    
    grid-column: 1;
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center
  }
.quote{
    text-align: center
}
.author{
    text-align: center    
}
h1 { color: blue;
font-size: 35px;
text-align: center;}

.portfolio img {width: 250px;
 padding: 0px 100px;
 position: relative;
}

h3{
text-align: center;
}
.portfolio {display: grid;
grid-template-columns:repeat(2, 1fr);
grid-template-rows: repeat(5, 1fr);
gap: 10px;
position: relative; 
text-align: center;
}

.imageone{grid-column: 2;
grid-row: 1;
}

.imagetwo{grid-column: 1;
    grid-row: 2;}

.imagethree{grid-column: 2;
    grid-row: 3;
    }

.imagefour{grid-column: 1;
    grid-row: 4;
}

.imagefive{grid-column: 2;
grid-row: 5;}

.paragraph{
    text-align: justify;
   
}

.contact {display:flex;
    justify-content: center;
}

.contact img {width: 250px;
    padding: 0px 100px;
    position: relative;}

@media(max-width:525px) {
    .portfolio, .labels {display: flex;
    flex-direction: column;}
}

